<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="/signup" method="POST">
            <label for="userName">user name:</label>
            <input type="text" name="userName" required/>
            <label for="password">password:</label>
            <input type="password" name="password" required/>
            <label for="rewritePassword">rewrite password:</label>
            <input type="password" name="rewritePassword" />
            <label for="email">email:</label>
            <input type="email" name="email" required/>
            <label for="fistName">first name:</label>
            <input type="text" name="firstName" required/>
            <label for="lastName">last name:</label>
            <input type="text" name="lastName" required />
          
            <button type="submit">registrarme</button>
        </form>
        <button><a href="/">iniciar sesion</a></button>
    </body>
</html>
